
.main  
{
  margin: 27px;
  padding: 54px 89px;
  
  width: ~'calc(100% - 54px)';
  height: ~'calc(100vh - 54px)';
  
  border:3px solid black;
  overflow: scroll;
  
  @media (max-width: @large)
  {
    padding: 27px 27px;
  }
  @media (max-width: @compact)
  {
    width: ~'calc(100% - 26px)';
    height: ~'calc(100vh - 26px)';
    
    margin: 13px;
  }
}


.right-border
{
  position: fixed;
  z-index: 2;
  top: 27px;
  right: 0;
  width: 38px;
  height: ~'calc(100vh - 54px)';
  background: #fff;
  border-left: 3px solid black;
  
  @media (max-width: @compact)
  {
    top: 13px;
    width: 16px;
    
    height: ~'calc(100vh - 26px)';
    // margin: 13px;
  }
}

.left-panel 
{
  width: ~'calc(100% - 537px + 44.5px)';
  @media (max-width: 1128px)
  {
      width: ~'calc(100% - 50vw + 54px)';
  }  
  @media (max-width: @compact)
  {
      width: ~'calc(100% - 26px)';
  }
}

