.main
.body-section
{
  margin-bottom: 66px;

  h2 
  {
    font-size: 20px;
    margin-bottom: 22px;
  }
  h3 
  {
    line-height: 22px;
  }
}

.project-link
{
  line-height: 28px;
  margin-bottom: 6px;

  a
  {
    cursor: pointer;

    color: #9b9b9b;
    text-decoration: none;

    &:hover
    {
      color: #000;
    }
    .transition(all .15s ease-out);
  }
  &.active a 
  {
    color: #000;
  }
}
