{% extends 'base.html' %}

{% include 'components/header.html' %}
{% include 'components/footer.html' %}

{% block bodyClass %}p-home{% endblock %}


{% block main -%}
<div class="p-main">
  <div class="p-fixed">
    <div class="p-fixed__left">
      <p class="p-contact"><a href="mailto:priyatirtha@gmail.com">Say hi back!</a></p>
    </div>
    <div class="p-fixed__right">
      <p class="p-nav"><a href="/about" class="color--black">About Me</a></p>
    </div>
  </div>
  <div class="p-grid">
    {{ header() }}

    <div class="p-col-12 p-intro">
      <div class="p-inner">
      {#
      #}<div class="p-col-9">
          <div class="p-intro__crown">
            <svg width="183px" height="100px" viewBox="0 0 163 100">
              <g transform="rotate(58 100, 0) translate(106 0)">
                <path id="curve" d="M0.0401135924,100 C0.0401135924,100 -6.92863641,-51.7421875 162.836989,18.9453125"/>
                <text width="162">
                  <textPath xlink:href="#curve">
                    Oh, hello!
                  </textPath>
                </text>
              </g>
              </svg>
            </div>
          <h3 class="p-intro__summary">My name is Priya. I am a designer who specializes in creating and conceptualizing digital experiences.</h3>
          <p class="p-intro__sub">Currently designing at Philadelphia Museum of Art. <br><br>
          </p>
          <a href="" class="p-intro__link">Get in touch!</a><br>
          <a class="p-intro__link" href="/about">more about me</a>
        </div>
      </div>
    </div>

    <div class="p-col-12 p-projects">
      <div class="p-inner">
      {#
      #}<div class="p-col-9">

          <div class="p-project">
            <h4 class="p-project__tag">
              The Latest
            </h4>
            <h4 class="p-project__title">
              News, Events & City Action Guides - phila.gov
            </h4>
            <p class="p-project__sub">
              2017 / City of Philadelphia → <a href="https://beta.phila.gov/the-latest/" target="_blank" class="color--blue">Visit The Latest</a>
            </p>
          </div>
          <div class="p-project">
            <h4 class="p-project__tag">
              Philadelphia Parks & Recreation 
            </h4>
            <h4 class="p-project__title">
              Program Finder - phila.gov
            </h4>
            <p class="p-project__sub">
              2017 / City of Philadelphia → <a href="https://www.phila.gov/parks-rec-finder" target="_blank" class="color--blue">Visit the PPR Finder</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="p-col-12 p-projects">
      <div class="p-inner">
      {#
      #}<div class="p-col-9">

          <div class="p-project">
            <h4 class="p-project__tag">
              Out of Town Films
            </h4>
            <h4 class="p-project__title">
              Film Collective
            </h4>
            <p class="p-project__sub">
              2016 → <a href="http://outoftownfilms.com" target="_blank" class="color--blue">Visit the website</a>
            </p>
          </div>
          <div class="p-project">
            <h4 class="p-project__tag">
              Museyroom - Pearly Whites
            </h4>
            <h4 class="p-project__title">
              Interactive Album 
            </h4>
            <p class="p-project__sub">
              2015 / Grind Select → <a href="https://museyroom.io" target="_blank" class="color--blue">Visit the website</a>
            </p>
          </div>
          <div class="p-project">
            <h4 class="p-project__tag">
              Cartuna
            </h4>
            <h4 class="p-project__title">
              Animation studio
            </h4>
            <p class="p-project__sub">
              2015 → <a href="http://cartuna.com" target="_blank" class="color--blue">Visit the website</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="p-col-12 p-projects">
      <div class="p-inner">
      {#
      #}<div class="p-col-9">
          <div class="p-project">
            <h4 class="p-project__tag">
             Invisible City
            </h4>
            <h4 class="p-project__title">
              Online Chronology
            </h4>
            <p class="p-project__sub">
             2014 / UArts → <a href="http://invisiblecity.uarts.edu/" target="_blank" class="color--blue">Visit the website</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    
  {{ footer() }}
  </div>
</div>
{%- endblock %}
