{% extends 'base.html' %}

{% include 'components/header.html' %}
{% include 'components/footer.html' %}

{% block bodyClass %}p-home{% endblock %}


{% block main -%}
<div class="p-main">
  <div class="p-fixed">
    <div class="p-fixed__left">
      <p class="p-contact"><a href="mailto:priyatirtha@gmail.com">Say hi back!</a></p>
    </div>
    <div class="p-fixed__right">
      <p class="p-nav"><a href="/about" class="color--black">About Me</a></p>
    </div>
  </div>
  <div class="p-grid">
    {{ header() }}

    <div class="p-col-12 p-intro">
      <div class="p-inner">
        <div class="p-col-3">
            &nbsp;
        </div>{#
      #}<div class="p-col-9">
          <div class="p-intro__crown">
            <svg width="183px" height="100px" viewBox="0 0 163 100">
              <g transform="rotate(58 100, 0) translate(106 0)">
                <path id="curve" d="M0.0401135924,100 C0.0401135924,100 -6.92863641,-51.7421875 162.836989,18.9453125"/>
                <text width="162">
                  <textPath xlink:href="#curve">
                    Oh, hello!
                  </textPath>
                </text>
              </g>
              </svg>
            </div>
          <h3 class="p-intro__summary">My name is Priya. I am a designer who specializes in creating and conceptualizing digital experiences.</h3>
          <p class="p-intro__sub">After an incredible opportunity to help design the City of Philadelphia’s governement website, I am exploring new design adventures. <br><br> Speaking of new adventures, this website is a work in progress. Check back soon for case studies of my work.</p>
          <a class="p-intro__link" href="/about">more about me</a>
        </div>
      </div>
    </div>

    <div class="p-col-12 p-projects">
      <div class="p-inner">
        <div class="p-col-3">
          <h3 class="p-projects__section">City of<br>Philadelphia</h3>
        </div>{#
      #}<div class="p-col-9">

          <div class="p-project">
            <h4 class="p-project__tag">
              The Latest
            </h4>
            <h4 class="p-project__title">
              Improving the way city employees publish  time-sensitive updates and news stories on phila.gov.
            </h4>
            <p class="p-project__sub">
              Office of the Mayor → <a href="https://beta.phila.gov/the-latest/" target="_blank" class="color--blue">Visit The Latest</a>
            </p>
          </div>
          <div class="p-project">
            <h4 class="p-project__tag">
              Finder Application
            </h4>
            <h4 class="p-project__title">
              Helping Philadelphians of all ages stay active year-round.
            </h4>
            <p class="p-project__sub">
              Philadelphia Parks & Recreation → <span class="color--gray">Launching 2018</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="p-col-12 p-projects">
      <div class="p-inner">
        <div class="p-col-3">
          <h3 class="p-projects__section">Spacely</h3>
        </div>{#
      #}<div class="p-col-9">

          <div class="p-project">
            <h4 class="p-project__tag">
              Out of Town Films
            </h4>
            <h4 class="p-project__title">
              Long format profiles on emerging musicians, filmed around the world.
            </h4>
            <p class="p-project__sub">
              <a href="http://outoftownfilms.com" target="_blank" class="color--blue">Visit the website</a>
            </p>
          </div>
          <div class="p-project">
            <h4 class="p-project__tag">
              Pearly Whites
            </h4>
            <h4 class="p-project__title">
              Interactive website for a psychedelic pop rock band.
            </h4>
            <p class="p-project__sub">
              <a href="https://museyroom.io" target="_blank" class="color--blue">Visit the website</a>
            </p>
          </div>
          <div class="p-project">
            <h4 class="p-project__tag">
              Cartuna
            </h4>
            <h4 class="p-project__title">
              Weirdo animation studio.
            </h4>
            <p class="p-project__sub">
              <a href="http://cartuna.com" target="_blank" class="color--blue">Visit the website</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="p-col-12 p-projects">
      <div class="p-inner">
        <div class="p-col-3">
          <h3 class="p-projects__section">P'unk <br>Ave</h3>
        </div>{#
      #}<div class="p-col-9">
          <div class="p-project">
            <h4 class="p-project__tag">
             Invisible City
            </h4>
            <h4 class="p-project__title">
              Avant-garde historical chronology. 
            </h4>
            <p class="p-project__sub">
             University of the Arts → <a href="http://invisiblecity.uarts.edu/" target="_blank" class="color--blue">Visit the website</a>
            </p>
          </div>
          <div class="p-project">
            <h4 class="p-project__tag">
              American Poetry Review
            </h4>
            <h4 class="p-project__title">
              Poetry, literary criticism, interviews, and essays.
            </h4>
            <p class="p-project__sub">
              <a href="http://aprweb.org/" target="_blank" class="color--blue">Visit the website</a>
            </p>
          </div>
          <div class="p-project">
            <h4 class="p-project__tag">
              Science Center
            </h4>
            <h4 class="p-project__title">
              Philadelphia's center for innovation, entrepreneurship and technology commercialization.
            </h4>
            <p class="p-project__sub">
              <a href="https://www.sciencecenter.org/" target="_blank" class="color--blue">Visit the website</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    
  {{ footer() }}
  </div>
</div>
{%- endblock %}
