{% extends 'base.html' %}

{% block bodyClass %}home-page{% endblock %}


{% block main -%}
<div class="main">
    <div class="left-panel p-grid">
      <div class="p-col-4 header-left">
        <h2 class="title" data-id="hello">Priya Tirtha</h2>
      </div>
      <div class="p-col-8 header-right">
        <!-- <h4 class="externals"><a href="https://www.instagram.com/priyamaya/" target="_blank">Instagram</a><a href="https://twitter.com/_priyamaya" target="_blank">Twitter</a></h4> -->
      </div>
      <div class="p-col-12 short-desc">
        <p>I am an experience designer with a background in service design.</p>
        <p>I currently practice with <a href="http://spacely.space" target="_blank">Spacely</a> in Philadelphia. Say hi at <a href="">priyatirtha@gmail.com</a>.</p>
      </div>


      <div class="p-col-12 body-section">
        <h2 class="sub-title">Recent Projects</h2>
        <h3 class="project-link" data-id="ootf"><a href="#ootf">Out of Town Films</a></h3>
        <h3 class="project-link" data-id="invisible-city"><a href="#invisible-city">Invisible City</a></h3>
        <h3 class="project-link" data-id="museyroom"><a href="#museyroom">museyroom.io</a></h3>
        <h3 class="project-link" data-id="cartuna"><a href="#cartuna">Cartuna</a></h3>
      </div> 
      
      <div class="p-col-12 body-section">
        <h2 class="sub-title">Former Positions</h2>
        <h3 class="project-link"><a href="http://punkave.com" target="_blank">P'unk Avenue</a></h3>
        <h3 class="project-link"><a href="http://smartdesignworldwide.com" target="_blank">Smart Design</a></h3>
      </div>      
    </div>
    

     <div class="side-panel" style="background: linear-gradient(to bottom, #9991d6 30%, #fff 85%)" data-id="ootf">
       <div class="side-panel__header">
         <h4>Out of Town Films</h4>
         <div class="side-panel__header__close"></div>
       </div>
       <div class="side-panel__body">
         <div class="side-panel__body__section">
           <div class="side-panel__body__label">About</div>
           <div class="side-panel__body__desc">A small team of cool guys travel around the world to create beautifully crafted music session videos.</div>
           <div class="side-panel__body__sub">They’re based out of Philadelphia but never miss out on a trip to Johannesburg or Iceland to capture the next talented musician. Moving from a tumblr based site, we collaborated to create a web experience that promotes long story profiles on artists.</div>
         </div>
         <div class="side-panel__body__section">
           <div class="side-panel__body__label">Date</div>
           <div class="side-panel__body__sub">Spring 2016</div>
         </div>
         <div class="side-panel__body__section">
           <div class="side-panel__body__label">Project Type</div>
           <div class="side-panel__body__sub">Content Strategy, Web Design and Development</div>
         </div>
         <div class="side-panel__body__section">
           <div class="side-panel__body__label">Role</div>
           <div class="side-panel__body__sub">UX + Visual Designer</div>
         </div>
       </div>
       <div class="side-panel__footer"><a target="_blank" href="http://outoftownfilms.com">visit website</a></div>{#
      
     #}</div>{#
     #}<div class="side-panel" style="background: linear-gradient(to bottom, #f4ec40 0%, #fff 65%)" data-id="invisible-city">{#
       #}<div class="side-panel__header">
         <h4>Invisible City</h4>
         <div class="side-panel__header__close"></div>
       </div>
       <div class="side-panel__body">
         <div class="side-panel__body__section">
           <div class="side-panel__body__label">About</div>
           <div class="side-panel__body__desc">Invisible City’s goal is to increase awareness of the cultural contributions of Philadelphia at mid century.</div>
           <div class="side-panel__body__sub">This interactive website consists of transcribed oral histories of vital participants in Philadelphia’s avant-garde community of the 1960s and 1970s with videos, images and an extensive chronology.</div>
         </div>
         <div class="side-panel__body__section">
           <div class="side-panel__body__label">Date</div>
           <div class="side-panel__body__sub">Spring 2015</div>
         </div>
         <div class="side-panel__body__section">
           <div class="side-panel__body__label">Project Type</div>
           <div class="side-panel__body__sub">Web Design and Development</div>
         </div>
         <div class="side-panel__body__section">
           <div class="side-panel__body__label">Role</div>
           <div class="side-panel__body__sub">UX + Visual Designer</div>
         </div>
       </div>
       <div class="side-panel__footer"><a target="_blank" href="http://invisiblecity.uarts.edu">visit website</a></div>{#
     #}</div>
     <div class="side-panel" style="background: linear-gradient(to bottom, rgba(243,67,76,1) 0%, #fff 65%)" data-id="museyroom">{#
       #}<div class="side-panel__header">
         <h4>museyroom.io</h4>
         <div class="side-panel__header__close"></div>
       </div>
       <div class="side-panel__body">
         <div class="side-panel__body__section">
           <div class="side-panel__body__label">About</div>
           <div class="side-panel__body__desc">Museyroom is a NYC band whose sound is a blend of pop,electronic, folk, and psychedelia.</div>
           <div class="side-panel__body__sub">To accompany their album release, Pearly Whites, the band wanted to create an interactive listening experience. Using a simple user input, typing, the website allows listeners to create whacky, animated postcards.</div>
         </div>
         <div class="side-panel__body__section">
           <div class="side-panel__body__label">Date</div>
           <div class="side-panel__body__sub">Spring 2016</div>
         </div>
         <div class="side-panel__body__section">
           <div class="side-panel__body__label">Project Type</div>
           <div class="side-panel__body__sub">Web Design and Development</div>
         </div>
         <div class="side-panel__body__section">
           <div class="side-panel__body__label">Role</div>
           <div class="side-panel__body__sub">UX + Visual Designer</div>
         </div>
       </div>
       <div class="side-panel__footer"><a target="_blank" href="http://museyroom.io">visit website</a></div>{#
     #}</div>
     <div class="side-panel" style="background: linear-gradient(to bottom, #feba00 0%, rgba(255,194,25,1) 15%, #fff 70%)" data-id="cartuna">{#
       #}<div class="side-panel__header">
         <h4>Cartuna</h4>
         <div class="side-panel__header__close"></div>
       </div>
       <div class="side-panel__body">
         <div class="side-panel__body__section">
           <div class="side-panel__body__label">About</div>
           <div class="side-panel__body__desc">Cartuna is a small animation studio based in Brooklyn, NY. They create quirky, colorful adult cartoons.</div>
           <div class="side-panel__body__sub">The website project was focused on the premier of their first 6 series. The design is meant to get users to the video content quickly, while experiencing something memorable and weird.</div>
         </div>
         <div class="side-panel__body__section">
           <div class="side-panel__body__label">Date</div>
           <div class="side-panel__body__sub">Winter 2016</div>
         </div>
         <div class="side-panel__body__section">
           <div class="side-panel__body__label">Project Type</div>
           <div class="side-panel__body__sub">Web Design and Development</div>
         </div>
         <div class="side-panel__body__section">
           <div class="side-panel__body__label">Role</div>
           <div class="side-panel__body__sub">UX + Visual Designer</div>
         </div>
       </div>
       <div class="side-panel__footer"><a target="_blank" href="#">launching soon</a></div>{#
     #}</div>
</div>
<div class="right-border"></div>
{%- endblock %}
