@font-face {
  font-family: 'Bayle';
  src: url('../fonts/Bayle-Mono.otf');
  font-weight: normal;
}
@font-face {
  font-family: 'America';
  src: url('../fonts/GT-America-Standard-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'GZA';
  src: url('../fonts/gza-seminegra.otf');
  font-weight: normal;
}
.america
{
  font-family: 'America';
  font-weight: normal;
}
.gza
{
  font-family: 'GZA';
  font-weight: normal;
}
.bayle
{
  font-family: 'Bayle';
  font-weight: normal;
}
body
{
  .america;
}

@f-large: 30px;
@f-medium: 24px;
@f-small: 16px;
@f-smaller: 14px;
@f-tiny: 12px;


.font-large {
  font-size: @f-large;
}
.font-medium {
  font-size: @f-medium;
  line-height: 27px;
}
.font-small {
  font-size: @f-small;
}
.font-smaller {
  font-size: @f-smaller;
}
.font-tiny {
  font-size: @f-tiny;
}
/* Defaults */
h2
{
  font-size: 24px;
  letter-spacing: 1.32px;
  line-height: 27px;
  font-weight: normal;
}
h3
{
  max-width: 633px;
  font-weight: normal;
}
h4 
{
  max-width: 748px;
}
p 
{
  // font-size:16px;

  max-width: 633px;
  font-weight: normal;
}


a 
{
  color: @black;
  opacity: 1;

  .transition(opacity .15s ease-out);

  &:hover 
  {
    cursor: pointer;
    opacity: 0.5;
  }
}
