@font-face {
  font-family: 'Pressura';
  src: url('../fonts/GT-Pressura-Mono-Regular.otf');
  font-weight: normal;
}
@font-face {
  font-family: 'Pressura';
  src: url('../fonts/GT-Pressura-Mono-Bold.otf');
  font-weight: bold;
}
.pressura
{
  font-family: 'Pressura';
  font-weight: normal;
}
body
{
  .pressura;
}
